<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <meta name="description" content="Résumé Chicago-based full-stack web developer Matt Gerton.">

  <title>Résumé | {{#resume.basics}}{{name}}{{/resume.basics}}</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,700,400italic,900|Open+Sans:400,700">

  <style>
  {{{css}}}
  </style>
</head>
<body class="resume">
  <main class="container">
    {{#resume.basics}}
    <header class="row resume-header">
      <div class="col-md-8 col-lg-8 headline">
        <h1 class="name">{{name}}</h1>
        <p class="summary">{{summary}}</p>
      </div>
      <div class="col-md-4 col-lg-4 contact-info">
        {{#location}}
        <p>{{address}}</p>
        <p>{{city}}, {{postalCode}}</p>
        {{/location}}
        <p><strong><a href="tel:{{phoneLink phone}}">{{phone}}</a></strong></p>
        <p><strong>{{email}}</strong></p>
      </div>
    </header>
    {{/resume.basics}}

    <div class="row resume-content">
      <article class="col-md-8 col-lg-8 content-section work-history">
        <h1 class="title">Experience</h1>
        {{#if resume.work.length}}
          {{#each resume.work}}
          <section class="info work-history-{{textToHtml company}}">
            <h2 class="place-role">
              <strong>{{company}}, </strong>
              {{cityState ../resume.basics.location}} &ndash;
              <em> {{position}}</em>
            </h2>
            <h3 class="timeline">
              <span class="start-date">
              {{startDate}}
              </span> -
              <span class="end-date">
              {{#if endDate}}
                {{endDate}}
              {{else}}
                Present
              {{/if}}
              </span>
            </h3>
            <p class="summary">{{summary}}</p>
            {{#if highlights.length}}
            <ul class="highlights">
              {{#each highlights}}
              <li>{{.}}</li>
              {{/each}}
            </ul>
            {{/if}}
          </section>
          {{/each}}
        {{/if}}
      </article>
      <aside class="col-md-4 col-lg-4 content-section skills">
        <h1 class="title">Skills</h1>
        <section class="info skills-web-dev">
          {{#each resume.skills}}
            {{#each keywords}}
            <div class="row">
              <div class="col-md-10 col-lg-10 skill-highlight">
                <p class="summary">{{.}}</p>
              </div>
            </div>
            {{/each}}
          {{/each}}
        </section>
      </aside>
    </div>

    <div class="row resume-content">
      <article class="col-md-8 col-lg-8 content-section education">
        <h1 class="title">Education</h1>
        <section class="info education-college" id="iowa-ba-informatics">
          {{#resume.education}}
          <h2 class="place-role">
              <strong>{{institution}}, </strong>
              {{cityState location}} &ndash;
              <em> {{area}}</em>
            </h2>
          <h3 class="timeline">
              <span class="start-date">
              {{startDate}}
              </span> -
              <span class="end-date">
              {{#if endDate}}
                {{endDate}}
              {{else}}
                Present
              {{/if}}
              </span>
            </h3>
          <p class="summary">{{summary}}</p>
          {{/resume.education}}
        </section>
      </article>
    </div>
  </main>
</body>
</html>
