.resume {
  padding: 60px 40px;
}

/**
 * header component
 */

.resume-header {
  margin-bottom: 60px;
}

.resume-header .headline .name {
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-size: 76px;
  line-height: 86px;
  font-weight: 700;
}

.resume-header .headline .summary {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.resume-header .contact-info {
  padding-top: 30px;
}

.resume-header .contact-info p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

/**
 * content component
 */

.resume-content .content-section .title,
.resume-content .content-section .summary,
.resume-content .content-section .highlights {
  font-size: 18px;
  line-height: 28px;
}

.resume-content  .content-section .title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: rgb(92, 135, 169);
  text-transform: uppercase;
}

.resume-content .content-section .summary,
.resume-content .content-section .highlights,
.resume-content .content-section .place-role {
  font-family: 'Merriweather', 'Times New Roman', serif;
}

.resume-content .content-section .place-role {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.resume-content .content-section .timeline {
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 0;
}

.resume-content .content-section .timeline,
.resume-content .content-section .summary,
.resume-content .content-section .highlights {
  color: rgb(102, 102, 102);
}

.resume-content .content-section .highlights li {
  margin-bottom: 10px;
}
